@import "tailwindcss";

:root{
    --primaryColor : linear-gradient(180deg,rgba(110, 93, 222, 1) 52%, rgba(53, 34, 191, 1) 100%);
}
body{
    box-sizing: border-box;
    background: RGB(228, 232, 240);
    background: linear-gradient(180deg, rgba(228, 232, 240, 1) 0%, rgba(176, 187, 214, 1) 99%);
}